/* variables and base */
:root {
    --main-color: orangered;
    --main-color-hover: rgb(217, 58, 0);
    --positive-color: green;
    --negative-color: red;
    --border-color: #ccc;
    --light-grey: #f9f9f9;
    --dark-grey: #ddd;
    --font-large: 24px;
    --font-reg: 16px;
    --font-small: 12px;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: var(--font-reg);
    line-height: 1.5;
    background-color: aliceblue;
}

main {
    max-width: 960px;
    margin: 24px auto;
    padding: 0 16px;
}

button {
    background-color: var(--main-color);
    padding: 8px 12px;
    border-radius: 8px;
    border: 0;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: var(--font-small);
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
}

#show-add-post-modal-btn{
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: var(--main-color-hover);
}

a {
    color: var(--main-color);
    text-decoration: none;
    font-weight: 600;
    transition: color 300ms ease-in-out;
}

a:hover {
    color: var(--main-color-hover)
}

textarea {
    resize: none;
}

/* header style */
header {
    background-color: #fff;
    padding: px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid var(--border-color);
    z-index: 1;
    position: sticky;
    top: 0;
}

header small {
    font-size: var(--font-small);
    font-style: italic;
}

/* posts styling---! */
.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 8%;
    border-radius: 10px;
    border: 1px solid black;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}

.post-header h1 {
    font-size: var(--font-reg);
    text-transform: uppercase;
}

.post-header label{
    margin-right: 77%;
    margin-left: auto;
}
/* .no-posts {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
  } */

/* post styling ---!*/
.logo{
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    width: 100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    
  }

#post-container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

/*  */
.post {
    background-color: #fff;
    border-radius: 50px;
    border: 1px solid var(--border-color);
    display: flex;
    position: relative;
    


}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 5%;
    ;
  }
  .card {
    width: 60%;
    background-color: white;
    border-radius: 10px;
    margin: 0 10px;
  }
  
  .profile {
    padding: 15px;
    display: flex;
    flex-direction: column;
    font-family: "Mulish", sans-serif;
  }
  
  .profile img {
    width: 7%;
    border-radius: 10px;
  }
  
  .profile p {
    margin: 10px 0 0 0;
    width: 100%;
    line-height: 25px;
    font-weight: 400;
  }
  
  .profile span {
    margin-top: 8px;
    width: 100%;
    line-height: 25px;
    color: #999999;
    font-weight: 800;
  }

/*  */
.post .post-votes {
    background-color: var(--light-grey);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/*  */
.post .post-votes button {
    background-color: transparent;
    color: #000;
    padding: 8px;
    font-size: var(--font-reg);
}

/*  */
.post .post-votes span {
    font-size: var(--font-small);
    font-weight: 600;
}

.post .post-votes span.positive {
    color: var(--positive-color);
}

.post .post-votes span.negative {
    color: var(--negative-color);
}

.post .post-content {
    flex: 1;
    padding: 8px 16px;
    margin-left: 40px;
}

.post .post-content h2{
    font-size: var(--font-large);
    margin: 0;
}

.post .post-content p {
    margin: 0;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


#post-detail .post{
    flex-direction: column-reverse;
    padding: 16px;
}

#post-detail .post .post-votes{
    position: relative;
    flex-direction: row;
    width: max-content;
    border-radius: 8px;
}

#post-detail .post .post-content{
    margin: 0;
    padding: 0;
}

#post-detail .post .post-content p{
    margin: 8px 0 16px;
    white-space: pre-wrap;
    display: block;
}


#add-comment-form,
.reply-form{
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#add-comment-form textarea,
.reply-form textarea{
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    padding: 8px;
}

#add-comment-form-button,
.reply-form button{
    margin-top: 8px;
}


#comments-container{
    display: flex;
    flex-direction: column;
}

.comment {
    margin-bottom: 8px;
    padding: 8px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid var(--border-color);
}

.comment .comment-author{
    font-weight: 600;
    margin: 0;
}

.comment.commment-content{
    font-size: var(--font-small);
    margin: 8px 0;
}

.comment .comment-reply{
    padding: 4px 8px;
    background-color: var(--light-grey);
    color: #000;
    text-transform: lowercase;
    font-style: italic;
}

.comment .comment-reply:hover{
    background-color: var(--dark-grey);
}


#add-post-modal{
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
}

.modal-content{
    background-color: #fff;
    padding: 16px;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.modal-content #close-modal-btn{
    background-color: transparent;
    padding: 4px;
    color: #000;
    position: absolute;
    top: 8px;
    right: 12px;
    border-radius: 50%;
}

.modal-content #close-modal-btn:hover{
    background-color: var(--light-grey);
}

#add-post-form{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#add-post-form .form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

#add-post-form .form-group:last-of-type{
    flex: 1;
}

#add-post-form .form-group label{
    font-size: var(--font-small);
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 4px;
}

#add-post-form .form-group input,
#add-post-form .form-group textarea{
    border-radius: 4px;
    border: 1px solid var(--border-color);
    padding: 18px;
}

#add-post-form .form-group textarea{
    height: 100%;
}


@media screen and (min-width: 700px){
    .modal-content{
        width: 80%;
        max-width: 600px;
        height: auto;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
    }
}
