




















































































































































.post .post-content {
    flex: 1;
    padding: 8px 16px;
    margin-left: 40px;
}

.post .post-content h2{
    font-size: var(--font-large);
    margin: 0;
}

.post .post-content p {
    margin: 0;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


#post-detail .post{
    flex-direction: column-reverse;
    padding: 16px;
}

#post-detail .post .post-votes{
    position: relative;
    flex-direction: row;
    width: max-content;
    border-radius: 8px;
}

#post-detail .post .post-content{
    margin: 0;
    padding: 0;
}

#post-detail .post .post-content p{
    margin: 8px 0 16px;
    white-space: pre-wrap;
    display: block;
}


#add-comment-form,
.reply-form{
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#add-comment-form textarea,
.reply-form textarea{
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    padding: 8px;
}

#add-comment-form-button,
.reply-form button{
    margin-top: 8px;
}


#comments-container{
    display: flex;
    flex-direction: column;
}

.comment {
    margin-bottom: 8px;
    padding: 8px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid var(--border-color);
}

.comment .comment-author{
    font-weight: 600;
    margin: 0;
}

.comment.commment-content{
    font-size: var(--font-small);
    margin: 8px 0;
}

.comment .comment-reply{
    padding: 4px 8px;
    background-color: var(--light-grey);
    color: #000;
    text-transform: lowercase;
    font-style: italic;
}

.comment .comment-reply:hover{
    background-color: var(--dark-grey);
}


#add-post-modal{
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
}

.modal-content{
    background-color: #fff;
    padding: 16px;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.modal-content #close-modal-btn{
    background-color: transparent;
    padding: 4px;
    color: #000;
    position: absolute;
    top: 8px;
    right: 12px;
    border-radius: 50%;
}

.modal-content #close-modal-btn:hover{
    background-color: var(--light-grey);
}

#add-post-form{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#add-post-form .form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

#add-post-form .form-group:last-of-type{
    flex: 1;
}

#add-post-form .form-group label{
    font-size: var(--font-small);
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 4px;
}

#add-post-form .form-group input,
#add-post-form .form-group textarea{
    border-radius: 4px;
    border: 1px solid var(--border-color);
    padding: 18px;
}

#add-post-form .form-group textarea{
    height: 100%;
}


@media screen and (min-width: 700px){
    .modal-content{
        width: 80%;
        max-width: 600px;
        height: auto;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
    }
}